openapi: 3.0.1
info:
  title: Bitget Open API
  version: 2.0.0
servers:
- url: https://api.bitget.com/
tags:
- description: Margin Cross Account Controller
  name: margin_cross_account
- description: Margin Cross Borrow Query Controller
  name: margin_cross_borrow
- description: Margin Cross Fin Flow Query Controller
  name: margin_cross_finflow
- description: Margin Cross Interest Query Controller
  name: margin_cross_interest
- description: Margin Cross Liquidation Query Controller
  name: margin_cross_liquidation
- description: Margin Cross Order Controller
  name: margin_cross_order
- description: Margin Cross Public Controller
  name: margin_cross_public
- description: Margin Cross Repay Query Controller
  name: margin_cross_repay
- description: Margin Isolated Account Controller
  name: margin_isolated_account
- description: Margin Isolated Borrow Query Controller
  name: margin_isolated_borrow
- description: Margin Isolated Fin Flow Query Controller
  name: margin_isolated_finflow
- description: Margin Isolated Interest Query Controller
  name: margin_isolated_interest
- description: Margin Isolated Liquidation Query Controller
  name: margin_isolated_liquidation
- description: Margin Isolated Order Controller
  name: margin_isolated_order
- description: Margin Isolated Public Controller
  name: margin_isolated_public
- description: Margin Isolated Repay Query Controller
  name: margin_isolated_repay
- description: Margin Public Controller
  name: margin_public
- description: Merchant Controller
  name: p2p_merchant
- description: Spot Trace Order Controller
  name: spot_trace_order
- description: Spot Trace Profit Controller
  name: spot_trace_profit
paths:
  /api/margin/v1/cross/account/assets:
    get:
      deprecated: false
      description: Get Assets
      operationId: marginCrossAccountAssets
      parameters:
      - description: coin
        example: USDT
        in: query
        name: coin
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfListOfMarginCrossAssetsPopulationResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: assets
      tags:
      - margin_cross_account
  /api/margin/v1/cross/account/borrow:
    post:
      deprecated: false
      description: borrow
      operationId: marginCrossAccountBorrow
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarginCrossLimitRequest'
        description: marginCrossLimitRequest
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfMarginCrossBorrowLimitResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: borrow
      tags:
      - margin_cross_account
      x-codegen-request-body-name: marginCrossLimitRequest
  /api/margin/v1/cross/account/maxBorrowableAmount:
    post:
      deprecated: false
      description: Get MaxBorrowableAmount
      operationId: marginCrossAccountMaxBorrowableAmount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarginCrossMaxBorrowRequest'
        description: marginCrossMaxBorrowRequest
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfMarginCrossMaxBorrowResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: maxBorrowableAmount
      tags:
      - margin_cross_account
      x-codegen-request-body-name: marginCrossMaxBorrowRequest
  /api/margin/v1/cross/account/maxTransferOutAmount:
    get:
      deprecated: false
      description: Get Max TransferOutAmount
      operationId: marginCrossAccountMaxTransferOutAmount
      parameters:
      - description: coin
        example: USDT
        in: query
        name: coin
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfMarginCrossAssetsResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: maxTransferOutAmount
      tags:
      - margin_cross_account
  /api/margin/v1/cross/account/repay:
    post:
      deprecated: false
      description: repay
      operationId: marginCrossAccountRepay
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarginCrossRepayRequest'
        description: marginCrossRepayRequest
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfMarginCrossRepayResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: repay
      tags:
      - margin_cross_account
      x-codegen-request-body-name: marginCrossRepayRequest
  /api/margin/v1/cross/account/riskRate:
    get:
      deprecated: false
      description: riskRate
      operationId: marginCrossAccountRiskRate
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfMarginCrossAssetsRiskResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: riskRate
      tags:
      - margin_cross_account
  /api/margin/v1/cross/account/void:
    get:
      deprecated: false
      description: empty
      operationId: void
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: void
      tags:
      - margin_cross_account
  /api/margin/v1/cross/fin/list:
    get:
      deprecated: false
      description: Get finance flow List
      operationId: crossFinList
      parameters:
      - description: coin
        example: USDT
        in: query
        name: coin
        schema:
          type: string
      - description: startTime
        example: "1678193338000"
        in: query
        name: startTime
        required: true
        schema:
          type: string
      - description: endTime
        example: "1678193338000"
        in: query
        name: endTime
        schema:
          type: string
      - description: marginType
        example: transfer_in
        in: query
        name: marginType
        schema:
          type: string
      - description: pageSize
        example: "10"
        in: query
        name: pageSize
        schema:
          type: string
      - description: pageId
        example: minId
        in: query
        name: pageId
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfMarginCrossFinFlowResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: list
      tags:
      - margin_cross_finflow
  /api/margin/v1/cross/interest/list:
    get:
      deprecated: false
      description: Get interest List
      operationId: crossInterestList
      parameters:
      - description: coin
        example: USDT
        in: query
        name: coin
        schema:
          type: string
      - description: startTime
        example: "1678193138000"
        in: query
        name: startTime
        required: true
        schema:
          type: string
      - description: pageSize
        example: "10"
        in: query
        name: pageSize
        schema:
          type: string
      - description: pageId
        in: query
        name: pageId
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfMarginInterestInfoResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: list
      tags:
      - margin_cross_interest
  /api/margin/v1/cross/liquidation/list:
    get:
      deprecated: false
      description: Get liquidation List
      operationId: crossLiquidationList
      parameters:
      - description: startTime
        example: "1678193138000"
        in: query
        name: startTime
        required: true
        schema:
          type: string
      - description: endTime
        example: "1678193338000"
        in: query
        name: endTime
        schema:
          type: string
      - description: pageSize
        example: "10"
        in: query
        name: pageSize
        schema:
          type: string
      - description: pageId
        in: query
        name: pageId
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfMarginLiquidationInfoResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: list
      tags:
      - margin_cross_liquidation
  /api/margin/v1/cross/loan/list:
    get:
      deprecated: false
      description: Get Loan List
      operationId: crossLoanList
      parameters:
      - description: coin
        example: USDT
        in: query
        name: coin
        schema:
          type: string
      - description: startTime
        example: "1678193338000"
        in: query
        name: startTime
        required: true
        schema:
          type: string
      - description: endTime
        example: "1678193338000"
        in: query
        name: endTime
        schema:
          type: string
      - description: loanId
        in: query
        name: loanId
        schema:
          type: string
      - description: pageSize
        example: "10"
        in: query
        name: pageSize
        schema:
          type: string
      - description: pageId
        example: minId
        in: query
        name: pageId
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfMarginLoanInfoResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: list
      tags:
      - margin_cross_borrow
  /api/margin/v1/cross/order/batchCancelOrder:
    post:
      deprecated: false
      description: Margin Cross BatchCancelOrder
      operationId: marginCrossBatchCancelOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarginBatchCancelOrderRequest'
        description: marginBatchCancelOrderRequest
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfMarginBatchCancelOrderResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: batchCancelOrder
      tags:
      - margin_cross_order
      x-codegen-request-body-name: marginBatchCancelOrderRequest
  /api/margin/v1/cross/order/batchPlaceOrder:
    post:
      deprecated: false
      description: Margin Cross PlaceOrder
      operationId: marginCrossBatchPlaceOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarginBatchOrdersRequest'
        description: marginOrderRequest
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfMarginBatchPlaceOrderResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: batchPlaceOrder
      tags:
      - margin_cross_order
      x-codegen-request-body-name: marginOrderRequest
  /api/margin/v1/cross/order/cancelOrder:
    post:
      deprecated: false
      description: Margin Cross CancelOrder
      operationId: marginCrossCancelOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarginCancelOrderRequest'
        description: marginCancelOrderRequest
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfMarginBatchCancelOrderResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: cancelOrder
      tags:
      - margin_cross_order
      x-codegen-request-body-name: marginCancelOrderRequest
  /api/margin/v1/cross/order/fills:
    get:
      deprecated: false
      description: Margin Cross Fills
      operationId: marginCrossFills
      parameters:
      - description: symbol
        example: BTCUSDT
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: source
        example: API
        in: query
        name: source
        schema:
          type: string
      - description: startTime
        example: "1678193338000"
        in: query
        name: startTime
        required: true
        schema:
          type: string
      - description: endTime
        example: "1678193338000"
        in: query
        name: endTime
        schema:
          type: string
      - description: orderId
        example: "32428347234"
        in: query
        name: orderId
        schema:
          type: string
      - description: lastFillId
        in: query
        name: lastFillId
        schema:
          type: string
      - description: pageSize
        example: "10"
        in: query
        name: pageSize
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfMarginTradeDetailInfoResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: fills
      tags:
      - margin_cross_order
  /api/margin/v1/cross/order/history:
    get:
      deprecated: false
      description: Margin Cross historyOrders
      operationId: marginCrossHistoryOrders
      parameters:
      - description: symbol
        example: BTCUSDT
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: source
        example: API
        in: query
        name: source
        schema:
          type: string
      - description: startTime
        example: "1678193338000"
        in: query
        name: startTime
        required: true
        schema:
          type: string
      - description: endTime
        example: "1678193338000"
        in: query
        name: endTime
        schema:
          type: string
      - description: orderId
        example: "32428347234"
        in: query
        name: orderId
        schema:
          type: string
      - description: clientOid
        example: "123456"
        in: query
        name: clientOid
        schema:
          type: string
      - description: minId
        in: query
        name: minId
        schema:
          type: string
      - description: pageSize
        example: "10"
        in: query
        name: pageSize
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfMarginOpenOrderInfoResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: history
      tags:
      - margin_cross_order
  /api/margin/v1/cross/order/openOrders:
    get:
      deprecated: false
      description: Margin Cross openOrders
      operationId: marginCrossOpenOrders
      parameters:
      - description: symbol
        example: BTCUSDT
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: startTime
        example: "1678193338000"
        in: query
        name: startTime
        required: true
        schema:
          type: string
      - description: endTime
        example: "1678193338000"
        in: query
        name: endTime
        schema:
          type: string
      - description: orderId
        example: "32428347234"
        in: query
        name: orderId
        schema:
          type: string
      - description: clientOid
        example: "123456"
        in: query
        name: clientOid
        schema:
          type: string
      - description: pageSize
        example: "10"
        in: query
        name: pageSize
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfMarginOpenOrderInfoResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: openOrders
      tags:
      - margin_cross_order
  /api/margin/v1/cross/order/placeOrder:
    post:
      deprecated: false
      description: Margin Cross PlaceOrder
      operationId: marginCrossPlaceOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarginOrderRequest'
        description: marginOrderRequest
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfMarginPlaceOrderResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: placeOrder
      tags:
      - margin_cross_order
      x-codegen-request-body-name: marginOrderRequest
  /api/margin/v1/cross/public/interestRateAndLimit:
    get:
      deprecated: false
      description: Get InterestRateAndLimit
      operationId: marginCrossPublicInterestRateAndLimit
      parameters:
      - description: coin
        example: USDT
        in: query
        name: coin
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfListOfMarginCrossRateAndLimitResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      summary: interestRateAndLimit
      tags:
      - margin_cross_public
  /api/margin/v1/cross/public/tierData:
    get:
      deprecated: false
      description: Get TierData
      operationId: marginCrossPublicTierData
      parameters:
      - description: coin
        example: USDT
        in: query
        name: coin
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfListOfMarginCrossLevelResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      summary: tierData
      tags:
      - margin_cross_public
  /api/margin/v1/cross/repay/list:
    get:
      deprecated: false
      description: Get liquidation List
      operationId: crossRepayList
      parameters:
      - description: coin
        example: USDT
        in: query
        name: coin
        schema:
          type: string
      - description: repayId
        example: "32428347234"
        in: query
        name: repayId
        schema:
          type: string
      - description: startTime
        example: "1678193338000"
        in: query
        name: startTime
        required: true
        schema:
          type: string
      - description: endTime
        example: "1678193338000"
        in: query
        name: endTime
        schema:
          type: string
      - description: pageSize
        example: "10"
        in: query
        name: pageSize
        schema:
          type: string
      - description: pageId
        example: minId
        in: query
        name: pageId
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfMarginRepayInfoResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: list
      tags:
      - margin_cross_repay
  /api/margin/v1/isolated/account/assets:
    get:
      deprecated: false
      description: Get Assets
      operationId: marginIsolatedAccountAssets
      parameters:
      - description: symbol
        example: BTCUSDT
        in: query
        name: symbol
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfListOfMarginIsolatedAssetsPopulationResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: assets
      tags:
      - margin_isolated_account
  /api/margin/v1/isolated/account/borrow:
    post:
      deprecated: false
      description: borrow
      operationId: marginIsolatedAccountBorrow
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarginIsolatedLimitRequest'
        description: marginIsolatedLimitRequest
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfMarginIsolatedBorrowLimitResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: borrow
      tags:
      - margin_isolated_account
      x-codegen-request-body-name: marginIsolatedLimitRequest
  /api/margin/v1/isolated/account/maxBorrowableAmount:
    post:
      deprecated: false
      description: Get MaxBorrowableAmount
      operationId: marginIsolatedAccountMaxBorrowableAmount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarginIsolatedMaxBorrowRequest'
        description: marginIsolatedMaxBorrowRequest
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfMarginIsolatedMaxBorrowResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: maxBorrowableAmount
      tags:
      - margin_isolated_account
      x-codegen-request-body-name: marginIsolatedMaxBorrowRequest
  /api/margin/v1/isolated/account/maxTransferOutAmount:
    get:
      deprecated: false
      description: Get Max TransferOutAmount
      operationId: marginIsolatedAccountMaxTransferOutAmount
      parameters:
      - description: coin
        example: USDT
        in: query
        name: coin
        required: true
        schema:
          type: string
      - description: symbol
        example: BTCUSDT
        in: query
        name: symbol
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfMarginIsolatedAssetsResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: maxTransferOutAmount
      tags:
      - margin_isolated_account
  /api/margin/v1/isolated/account/repay:
    post:
      deprecated: false
      description: repay
      operationId: marginIsolatedAccountRepay
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarginIsolatedRepayRequest'
        description: marginIsolatedRepayRequest
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfMarginIsolatedRepayResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: repay
      tags:
      - margin_isolated_account
      x-codegen-request-body-name: marginIsolatedRepayRequest
  /api/margin/v1/isolated/account/riskRate:
    post:
      deprecated: false
      description: riskRate
      operationId: marginIsolatedAccountRiskRate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarginIsolatedAssetsRiskRequest'
        description: marginIsolatedAssetsRiskRequest
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfListOfMarginIsolatedAssetsRiskResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: riskRate
      tags:
      - margin_isolated_account
      x-codegen-request-body-name: marginIsolatedAssetsRiskRequest
  /api/margin/v1/isolated/fin/list:
    get:
      deprecated: false
      description: Get finance flow List
      operationId: isolatedFinList
      parameters:
      - description: symbol
        example: BTCUSDT
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: coin
        example: USDT
        in: query
        name: coin
        schema:
          type: string
      - description: marginType
        example: transfer_in
        in: query
        name: marginType
        schema:
          type: string
      - description: startTime
        example: "1678193338000"
        in: query
        name: startTime
        required: true
        schema:
          type: string
      - description: endTime
        example: "1678193338000"
        in: query
        name: endTime
        schema:
          type: string
      - description: loanId
        in: query
        name: loanId
        schema:
          type: string
      - description: pageSize
        example: "10"
        in: query
        name: pageSize
        schema:
          type: string
      - description: pageId
        in: query
        name: pageId
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfMarginIsolatedFinFlowResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: list
      tags:
      - margin_isolated_finflow
  /api/margin/v1/isolated/interest/list:
    get:
      deprecated: false
      description: Get interest List
      operationId: isolatedInterestList
      parameters:
      - description: symbol
        example: BTCUSDT
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: coin
        example: USDT
        in: query
        name: coin
        schema:
          type: string
      - description: startTime
        example: "1678193138000"
        in: query
        name: startTime
        required: true
        schema:
          type: string
      - description: pageSize
        example: "10"
        in: query
        name: pageSize
        schema:
          type: string
      - description: pageId
        in: query
        name: pageId
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfMarginIsolatedInterestInfoResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: list
      tags:
      - margin_isolated_interest
  /api/margin/v1/isolated/liquidation/list:
    get:
      deprecated: false
      description: Get liquidation List
      operationId: isolatedLiquidationList
      parameters:
      - description: symbol
        example: BTCUSDT
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: startTime
        example: "1678193138000"
        in: query
        name: startTime
        required: true
        schema:
          type: string
      - description: endTime
        example: "1678193338000"
        in: query
        name: endTime
        schema:
          type: string
      - description: pageSize
        example: "10"
        in: query
        name: pageSize
        schema:
          type: string
      - description: pageId
        in: query
        name: pageId
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfMarginIsolatedLiquidationInfoResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: list
      tags:
      - margin_isolated_liquidation
  /api/margin/v1/isolated/loan/list:
    get:
      deprecated: false
      description: Get Loan List
      operationId: isolatedLoanList
      parameters:
      - description: symbol
        example: BTCUSDT
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: coin
        example: USDT
        in: query
        name: coin
        schema:
          type: string
      - description: startTime
        example: "1678193338000"
        in: query
        name: startTime
        required: true
        schema:
          type: string
      - description: endTime
        example: "1678193338000"
        in: query
        name: endTime
        schema:
          type: string
      - description: loanId
        in: query
        name: loanId
        schema:
          type: string
      - description: pageSize
        example: "10"
        in: query
        name: pageSize
        schema:
          type: string
      - description: pageId
        in: query
        name: pageId
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfMarginIsolatedLoanInfoResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: list
      tags:
      - margin_isolated_borrow
  /api/margin/v1/isolated/order/batchCancelOrder:
    post:
      deprecated: false
      description: Margin Isolated BatchCancelOrder
      operationId: marginIsolatedBatchCancelOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarginBatchCancelOrderRequest'
        description: marginBatchCancelOrderRequest
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfMarginBatchCancelOrderResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: batchCancelOrder
      tags:
      - margin_isolated_order
      x-codegen-request-body-name: marginBatchCancelOrderRequest
  /api/margin/v1/isolated/order/batchPlaceOrder:
    post:
      deprecated: false
      description: Margin Isolated PlaceOrder
      operationId: marginIsolatedBatchPlaceOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarginBatchOrdersRequest'
        description: marginOrderRequest
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfMarginBatchPlaceOrderResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: batchPlaceOrder
      tags:
      - margin_isolated_order
      x-codegen-request-body-name: marginOrderRequest
  /api/margin/v1/isolated/order/cancelOrder:
    post:
      deprecated: false
      description: Margin Isolated CancelOrder
      operationId: marginIsolatedCancelOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarginCancelOrderRequest'
        description: marginCancelOrderRequest
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfMarginBatchCancelOrderResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: cancelOrder
      tags:
      - margin_isolated_order
      x-codegen-request-body-name: marginCancelOrderRequest
  /api/margin/v1/isolated/order/fills:
    get:
      deprecated: false
      description: Margin Isolated Fills
      operationId: marginIsolatedFills
      parameters:
      - description: symbol
        example: BTCUSDT
        in: query
        name: symbol
        schema:
          type: string
      - description: startTime
        example: "1678193338000"
        in: query
        name: startTime
        required: true
        schema:
          type: string
      - description: endTime
        example: "1678193338000"
        in: query
        name: endTime
        schema:
          type: string
      - description: orderId
        example: "32428347234"
        in: query
        name: orderId
        schema:
          type: string
      - description: lastFillId
        in: query
        name: lastFillId
        schema:
          type: string
      - description: pageSize
        example: "10"
        in: query
        name: pageSize
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfMarginTradeDetailInfoResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: fills
      tags:
      - margin_isolated_order
  /api/margin/v1/isolated/order/history:
    get:
      deprecated: false
      description: Margin Isolated historyOrders
      operationId: marginIsolatedHistoryOrders
      parameters:
      - description: symbol
        example: BTCUSDT
        in: query
        name: symbol
        schema:
          type: string
      - description: source
        example: API
        in: query
        name: source
        schema:
          type: string
      - description: startTime
        example: "1678193338000"
        in: query
        name: startTime
        required: true
        schema:
          type: string
      - description: endTime
        example: "1678193338000"
        in: query
        name: endTime
        schema:
          type: string
      - description: orderId
        example: "32428347234"
        in: query
        name: orderId
        schema:
          type: string
      - description: clientOid
        example: "123456"
        in: query
        name: clientOid
        schema:
          type: string
      - description: pageSize
        example: "10"
        in: query
        name: pageSize
        schema:
          type: string
      - description: minId
        in: query
        name: minId
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfMarginOpenOrderInfoResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: history
      tags:
      - margin_isolated_order
  /api/margin/v1/isolated/order/openOrders:
    get:
      deprecated: false
      description: Margin Isolated openOrders
      operationId: marginIsolatedOpenOrders
      parameters:
      - description: symbol
        example: BTCUSDT
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: startTime
        example: "1678193338000"
        in: query
        name: startTime
        required: true
        schema:
          type: string
      - description: endTime
        example: "1678193338000"
        in: query
        name: endTime
        schema:
          type: string
      - description: orderId
        example: "32428347234"
        in: query
        name: orderId
        schema:
          type: string
      - description: clientOid
        example: "123456"
        in: query
        name: clientOid
        schema:
          type: string
      - description: pageSize
        example: "10"
        in: query
        name: pageSize
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfMarginOpenOrderInfoResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: openOrders
      tags:
      - margin_isolated_order
  /api/margin/v1/isolated/order/placeOrder:
    post:
      deprecated: false
      description: Margin Isolated PlaceOrder
      operationId: marginIsolatedPlaceOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarginOrderRequest'
        description: marginOrderRequest
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfMarginPlaceOrderResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: placeOrder
      tags:
      - margin_isolated_order
      x-codegen-request-body-name: marginOrderRequest
  /api/margin/v1/isolated/public/interestRateAndLimit:
    get:
      deprecated: false
      description: Get InterestRateAndLimit
      operationId: marginIsolatedPublicInterestRateAndLimit
      parameters:
      - description: symbol
        example: BTCUSDT
        in: query
        name: symbol
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfListOfMarginIsolatedRateAndLimitResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      summary: interestRateAndLimit
      tags:
      - margin_isolated_public
  /api/margin/v1/isolated/public/tierData:
    get:
      deprecated: false
      description: Get TierData
      operationId: marginIsolatedPublicTierData
      parameters:
      - description: symbol
        example: BTCUSDT
        in: query
        name: symbol
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfListOfMarginIsolatedLevelResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      summary: tierData
      tags:
      - margin_isolated_public
  /api/margin/v1/isolated/repay/list:
    get:
      deprecated: false
      description: Get liquidation List
      operationId: isolateRepayList
      parameters:
      - description: symbol
        example: BTCUSDT
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: coin
        example: USDT
        in: query
        name: coin
        schema:
          type: string
      - description: repayId
        in: query
        name: repayId
        schema:
          type: string
      - description: startTime
        example: "1678193338000"
        in: query
        name: startTime
        required: true
        schema:
          type: string
      - description: endTime
        example: "1678193338000"
        in: query
        name: endTime
        schema:
          type: string
      - description: pageSize
        example: "10"
        in: query
        name: pageSize
        schema:
          type: string
      - description: pageId
        in: query
        name: pageId
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfMarginIsolatedRepayInfoResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: list
      tags:
      - margin_isolated_repay
  /api/margin/v1/public/currencies:
    get:
      deprecated: false
      description: Get Currencies
      operationId: marginPublicCurrencies
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfListOfMarginSystemResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      summary: currencies
      tags:
      - margin_public
  /api/p2p/v1/merchant/advList:
    get:
      deprecated: false
      description: P2P merchant adv info
      operationId: merchantAdvList
      parameters:
      - description: startTime
        example: "1678193338000"
        in: query
        name: startTime
        required: true
        schema:
          type: string
      - description: endTime
        example: "1678193338000"
        in: query
        name: endTime
        schema:
          type: string
      - description: status
        example: upper
        in: query
        name: status
        schema:
          type: string
      - description: type
        example: sell
        in: query
        name: type
        schema:
          type: string
      - description: advNo
        example: "1678193338000"
        in: query
        name: advNo
        schema:
          type: string
      - description: coin
        example: USDT
        in: query
        name: coin
        schema:
          type: string
      - description: languageType
        example: en-US
        in: query
        name: languageType
        schema:
          type: string
      - description: fiat
        example: USD
        in: query
        name: fiat
        schema:
          type: string
      - description: languageType
        example: "43534"
        in: query
        name: lastMinId
        schema:
          type: string
      - description: pageSize
        example: "10"
        in: query
        name: pageSize
        schema:
          type: string
      - description: orderBy
        example: createTime
        in: query
        name: orderBy
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfMerchantAdvResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: advList
      tags:
      - p2p_merchant
  /api/p2p/v1/merchant/merchantInfo:
    get:
      deprecated: false
      description: P2P merchant info self
      operationId: merchantInfo
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfMerchantPersonInfo'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: merchantInfo
      tags:
      - p2p_merchant
  /api/p2p/v1/merchant/merchantList:
    get:
      deprecated: false
      description: P2P merchant list
      operationId: merchantList
      parameters:
      - description: online
        example: "yes"
        in: query
        name: online
        schema:
          type: string
      - description: merchantId
        example: "4534534534"
        in: query
        name: merchantId
        schema:
          type: string
      - description: lastMinId
        example: "1678193338000"
        in: query
        name: lastMinId
        schema:
          type: string
      - description: pageSize
        example: "10"
        in: query
        name: pageSize
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfMerchantInfoResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: merchantList
      tags:
      - p2p_merchant
  /api/p2p/v1/merchant/orderList:
    get:
      deprecated: false
      description: P2P merchant order info
      operationId: merchantOrderList
      parameters:
      - description: startTime
        example: "1678193338000"
        in: query
        name: startTime
        required: true
        schema:
          type: string
      - description: endTime
        example: "1678193338000"
        in: query
        name: endTime
        schema:
          type: string
      - description: status
        example: wait_pay
        in: query
        name: status
        schema:
          type: string
      - description: type
        example: sell
        in: query
        name: type
        schema:
          type: string
      - description: advNo
        example: "1678193338000"
        in: query
        name: advNo
        schema:
          type: string
      - description: orderNo
        example: "23842478324723423"
        in: query
        name: orderNo
        schema:
          type: string
      - description: coin
        example: USDT
        in: query
        name: coin
        schema:
          type: string
      - description: languageType
        example: en-US
        in: query
        name: languageType
        schema:
          type: string
      - description: fiat
        example: USD
        in: query
        name: fiat
        schema:
          type: string
      - description: languageType
        example: "43534"
        in: query
        name: lastMinId
        schema:
          type: string
      - description: pageSize
        example: "10"
        in: query
        name: pageSize
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfMerchantOrderResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: orderList
      tags:
      - p2p_merchant
  /api/spot/v1/trace/order/closeTrackingOrder:
    post:
      deprecated: false
      description: closeTrackingOrder
      operationId: spotTraceCloseTrackingOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloseTrackingOrderRequest'
        description: closeTrackingOrderRequest
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfboolean'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: closeTrackingOrder
      tags:
      - spot_trace_order
      x-codegen-request-body-name: closeTrackingOrderRequest
  /api/spot/v1/trace/order/endOrder:
    post:
      deprecated: false
      description: endOrder
      operationId: spotTraceEndOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndOrderRequest'
        description: endOrderRequest
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfboolean'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: endOrder
      tags:
      - spot_trace_order
      x-codegen-request-body-name: endOrderRequest
  /api/spot/v1/trace/order/getTraceSettings:
    post:
      deprecated: false
      description: Get TraceSettings
      operationId: spotTraceGetTraceSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TraceSettingsRequest'
        description: traceSettingsRequest
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfTraceSettingResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: getTraceSettings
      tags:
      - spot_trace_order
      x-codegen-request-body-name: traceSettingsRequest
  /api/spot/v1/trace/order/getTraderSettings:
    post:
      deprecated: false
      description: Get TraderSettings
      operationId: spotTraceGetTraderSettings
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfTraderSettingResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: getTraderSettings
      tags:
      - spot_trace_order
  /api/spot/v1/trace/order/myTracers:
    post:
      deprecated: false
      description: Get MyTracers
      operationId: spotTraceMyTracers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MyTracersRequest'
        description: myTracersRequest
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfMyTracersResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: myTracers
      tags:
      - spot_trace_order
      x-codegen-request-body-name: myTracersRequest
  /api/spot/v1/trace/order/myTraders:
    post:
      deprecated: false
      description: Get MyTraders
      operationId: spotTraceMyTraders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MyTradersRequest'
        description: myTradersRequest
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfMyTradersResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: myTraders
      tags:
      - spot_trace_order
      x-codegen-request-body-name: myTradersRequest
  /api/spot/v1/trace/order/orderCurrentList:
    post:
      deprecated: false
      description: Get OrderCurrentList
      operationId: spotTraceOrderCurrentList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CurrentOrderListRequest'
        description: currentOrderListRequest
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfOrderCurrentListResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: orderCurrentList
      tags:
      - spot_trace_order
      x-codegen-request-body-name: currentOrderListRequest
  /api/spot/v1/trace/order/orderHistoryList:
    post:
      deprecated: false
      description: Get OrderHistoryList
      operationId: spotTraceOrderHistoryList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HistoryOrderListRequest'
        description: historyOrderListRequest
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfOrderHistoryListResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: orderHistoryList
      tags:
      - spot_trace_order
      x-codegen-request-body-name: historyOrderListRequest
  /api/spot/v1/trace/order/removeTrader:
    post:
      deprecated: false
      description: RemoveTrader
      operationId: spotTraceRemoveTrader
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveTraderRequest'
        description: removeTraderRequest
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfboolean'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: removeTrader
      tags:
      - spot_trace_order
      x-codegen-request-body-name: removeTraderRequest
  /api/spot/v1/trace/order/setProductCode:
    post:
      deprecated: false
      description: SetProductCode
      operationId: spotTraceSetProductCode
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCodeRequest'
        description: productCodeRequest
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfboolean'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: setProductCode
      tags:
      - spot_trace_order
      x-codegen-request-body-name: productCodeRequest
  /api/spot/v1/trace/order/setTraceConfig:
    post:
      deprecated: false
      description: SetTraceConfig
      operationId: spotTraceSetTraceConfig
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TraceConfigRequest'
        description: traceConfigRequest
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfboolean'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: setTraceConfig
      tags:
      - spot_trace_order
      x-codegen-request-body-name: traceConfigRequest
  /api/spot/v1/trace/order/spotInfoList:
    post:
      deprecated: false
      description: Get SpotInfoList
      operationId: spotTraceSpotInfoList
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfListOfSpotInfoResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: spotInfoList
      tags:
      - spot_trace_order
  /api/spot/v1/trace/order/updateTpsl:
    post:
      deprecated: false
      description: updateTpsl
      operationId: spotTraceUpdateTpsl
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTpslRequest'
        description: updateTpslRequest
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfboolean'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: updateTpsl
      tags:
      - spot_trace_order
      x-codegen-request-body-name: updateTpslRequest
  /api/spot/v1/trace/profit/profitHisDetailList:
    post:
      deprecated: false
      description: Get ProfitHisDetailList
      operationId: spotTraceProfitHisDetailList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TotalProfitHisDetailListRequest'
        description: totalProfitHisDetailListRequest
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfTraderProfitHisDetailListResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: profitHisDetailList
      tags:
      - spot_trace_profit
      x-codegen-request-body-name: totalProfitHisDetailListRequest
  /api/spot/v1/trace/profit/profitHisList:
    post:
      deprecated: false
      description: Get ProfitHisList
      operationId: spotTraceProfitHisList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TotalProfitHisListRequest'
        description: totalProfitHisListRequest
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfTraderProfitHisListResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
      - ACCESS_TIMESTAMP: []
      - SECRET_KEY: []
      - ACCESS_PASSPHRASE: []
      - ACCESS_SIGN: []
      - ACCESS_KEY: []
      summary: profitHisList
      tags:
      - spot_trace_profit
      x-codegen-request-body-name: totalProfitHisListRequest
  /api/spot/v1/trace/profit/totalProfitInfo:
    post:
      deprecated: false
      description: Get TotalProfitInfo
      operationId: spotTraceTotalProfitInfo
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfTraderTotalProfitResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Gateway Frequency Limit
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseResultOfVoid'
          description: Server Error
      security:
[...]
